<html>
    <head>
        <script>
    const BASE_URL = "http://0.0.0.0:5000";
    const PATH="/get/commerce/image";
    var token= localStorage.getItem("token");
                
                var url = BASE_URL + PATH;
    var data = {
                    token : token
                };
                fetch(
        url,
        {
            method: 'POST',
                    headers : {
                        "content-type" : "application/json; charset=UTF-8"}, body: JSON.stringify(data)
        }
    ).then(data=>{return data.json()})
    .then(json => {
        for (i=0; i<10; i++){
            
        var img = new Image(100, 100);
        img.src = "http://0.0.0.0:5000/template/commerceImage/"+res[3*i];
        var src = document.getElementById("elementid");
        src.appendChild(img);}
        }).catch(error=>console.log(error));
    












       const LOGIN_PATH = "/mycommerce/promotions";
            function mon_compte()
            { 
                var token= localStorage.getItem("token");
                
                var url = BASE_URL + LOGIN_PATH;
                var data = {
                    token : token
                };
                fetch(
        url,
        {
            method: 'POST',
                    headers : {
                        "content-type" : "application/json; charset=UTF-8"}, body: JSON.stringify(data)
        }
    ).then(data=>{return data.json()})
    .then(json => {
        for (i=0; i<10; i++){
        var img = json[i][0];
        var src = document.getElementById("elementid");
        src.appendChild(document.createTextNode(img));}
        }).catch(error=>console.log(error));}
    
        
    const LOGIN_PATH1 = "/commerce/image";
         


 </script>

</head>
  <body>
     

   <button onclick="imgloop();">Append Above</button>

   <h1>LOgO or Profile Picture</h1>
   <form class="form" id="myForm">
    <input type="file" id="inpFile"></br>
    <button type="submit">Upload</button>
   </form>
<script>
    const myForm=document.getElementById("myForm");
const inpFile=document.getElementById("inpFile");
var token= localStorage.getItem("token");
myForm.addEventListener("submit" ,e => { e.preventDefault();
    const endpoint ="/commerce/image";
    const formData= new FormData();
    formData.append("inpFile", inpFile.files[0]);
    formData.append("token", token);
    const options = {
  method: 'POST',
  body: formData,
  // If you add this, upload won't work
  // headers: {
  //   'Content-Type': 'multipart/form-data',
  // }
};
    fetch(endpoint, options).catch(console.error)});
</script>
<center>
    <div id="elementid">
   
    </div>
</center>

<form onSubmit="">
        
    <table border="0" cellpadding="0" cellspacing="0" width="771" align="center">
        <h1 align="center">Mon Quartier</h1>
    
          
            <td width="161" align="right" valign="top">
                
            
              <p>
                <font color="#000000"><span class="important">Promotions</span></font><br>
                <a href="http://0.0.0.0:5000/promotions/cid?token&#61;blabla" style="color:#008000; text-decoration:none" target="_blank">Mes Promotions</a><br>
                <a href="http://0.0.0.0:5000/" style="color:#008000; text-decoration:none" target="_blank">Promotions pass&eacute;es</a><br>
              </p>
              
              <p>
                <font color="#000000"><span class="important">Mon Espace Commer&ccedil;ant</span></font><br>
                <a href="http://0.0.0.0:5000/" style="color:#008000; text-decoration:none" target="_blank">Informations</a><br>
                <a href="http://0.0.0.0:5000/" style="color:#008000; text-decoration:none" target="_blank">Description</a><br>
                <a href="http://0.0.0.0:5000/" style="color:#008000; text-decoration:none" target="_blank">D&eacute;connexion</a><br>
              </p>
             
            </td>
            
            <td width="100" align="center"></td>
    
            <td width="600" valign="top">
    
                        <input type="text" name="research">
                        <button type="button"  onclick="mon_compte()">Rechercher</button>
                       
                        </br> </br>
                        <div>
                            <a href="addPromotion" style="color:#008000; text-decoration:none" title="Retourner en Haut"><i>Ajouter une promotion</i></a>
                        </div>
                        </br> </br>
                    
                <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                    <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            <span id="myText1"></span>
                        </font>
                    </td>           
                </table> 
                </br>
    
                    <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                        <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            <span id="myText2"></span>
                        </font>
                        </td>           
                    </table> 
                </br>
                
                    <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                        <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            stored_result
                        </font>
                        </td>           
                    </table> 
                </br>
    
                    <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                        <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            JE SUIS UNE PROMO
                        </font>
                        </td>           
                    </table> 
                    </br>
    
                    <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                        <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            JE SUIS UNE PROMO
                        </font>
                        </td>           
                    </table> 
                    </br>
    
                    <table border="1" cellpadding="3" cellspacing="1" bgcolor="#008000">
                        <td bgcolor="#FFFFF9">
                        <font color="#008000">
                            JE SUIS UNE PROMoo
                        </font>
                        </td>           
                    </table> 
                    </br>
    
            </td>
</form> 
    </table>
    
    
    
  </body>
  <script>
    function imgloop()
    {
      var ar = [];
      ar.push("http://www.google.com/intl/en_com/images/logo_plain.png");
      ar.push("https://static.pexels.com/photos/28773/pexels-photo-28773.jpg");
      ar.push("https://static.pexels.com/photos/1984/black-and-white-city-man-people.jpg");
  
      for (i = 0; ar.length > i; i++)
      {
        //var img = json[1][0];
        var src = document.getElementById("elementid");
        src.appendChild(img);
      }
  
    }
      
    </script>

</html>