<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
    
    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Mon Espace Commerçant
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                    	<li class="nav-item"><a class="nav-link js-scroll-trigger" href="promotions.html">Promotions</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="informations.html">Informations</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="home.html">Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
            
            <h1>Informations</h1>
            </br>
        	</br>
                
                <table border="1" cellpadding="10" cellspacing="1" bgcolor="#008000" align="center" width="771">

                    <td bgcolor="#FFFFF9">
                    <font color="#000000">
      
        </br>
        </br>

        <h2>Modifier mes informations</h2>

        </br>
        </br>

                <form>
    

                    <label for="Nom"><b>URL</b></label>
                    <input type="text" id="Nom">
                    </br> </br>

                    <label for="Description"><b>Description</b></label>
                    <input type="text" id="Description">
                    </br> </br>

                
    
                    <label for="Email"><b>Email</b></label>
                    <input type="text" id="Email">
                    </br> </br>
                    <label for="URL"><b>URL</b></label>
                    <input type="text" id="URL">
                    </br> </br>

                    <label for="Code Postal"><b>Code Postal</b></label>
                    <input type="text" id="Code Postal">
                    </br> </br>
                

                    <label for="Addresse"><b>Addresse</b></label>
                    <input type="text" id="Addresse">
                    </br> </br>
                    <label for="Agglomeration"><b>Agglomeration</b></label>
                    <input type="text" id="Agglomeration">
                    </br> </br>

                    <label for="Textile"><b>Textile</b></label>
                    <input type="text" id="Textile">
                    </br> </br>

                



                    <div class="clearfix">
                        <button type="button" class="signupbtn" onclick="mofifier()">Valider</button>
                    </div>
                    </br>
                    </br>
                </form>

                <script>    
                    const BASE_URL = "http://0.0.0.0:5000";
                    
                    const LOGIN_PATH = '/commerce/information';
                          
                             
                              
                              var url = BASE_URL + LOGIN_PATH;
                              const section = document.querySelector('section');
                              var token= localStorage.getItem("token");
                              var data = {
                                
                                token:token
                            };
                           fetch(
                      url,
                      
                        {method: "POST",
                                headers : {
                                    "content-type" : "application/json; charset=UTF-8"
                                },
                                body: JSON.stringify(data)
                            })
                            .then(data=>{return data.json()}).then(res=>{
                 
                    document.getElementById("Nom").value = res[0][0];
                    document.getElementById("Description").value = res[0][1];
                    document.getElementById("Email").value = res[0][2];
                    document.getElementById("URL").value = res[0][3];
                    document.getElementById("Code Postal").value = res[0][4];
                    document.getElementById("Addresse").value = res[0][5];
                    document.getElementById("Agglomeration").value = res[0][6];
                    document.getElementById("Textile").value = res[0][7];
                      })
            
            
            
                      function mofifier()
                        {
                          const BASE_URL = "http://0.0.0.0:5000";
                          
                        const LOGIN_PATH = "/mycommerce";
                            var Nom = document.getElementById("Nom").value;
            
                            var Description = document.getElementById("Description").value;
                            var URL = document.getElementById("URL").value;
            
                            var Email = document.getElementById("Email").value;
                            var Agglomeration = document.getElementById("Agglomeration").value;
            
                            var Description = document.getElementById("Description").value;
                            var Addresse = document.getElementById("Addresse").value;
            
                            var CodePostal = document.getElementById("Code Postal").value;
                            
                            var token= localStorage.getItem("token");
                            var Textile = document.getElementById("Textile").value;
                            
                            var url = BASE_URL + LOGIN_PATH;
                            var data = {
                                cnom : Nom,
                                cpresentation: Description,
                                cemail:Email,
                                aid:Agglomeration,
                                code_postal: CodePostal,
                               
                                url_ext: URL,
                                token:token,
                                rue_and_num: Addresse,
                                catnom:Textile
                            };
                            
                            fetch(url, {method: "PUT",
                                headers : {
                                    "content-type" : "application/json; charset=UTF-8"
                                },
                                body: JSON.stringify(data)
                            })
                            .then(data=>{return data.json()})
                            .then(res=>{
                                
                                if(res["status"] != "ok")
                                {
                                    
                                    alert(res["message"]);
                                }
                                else {alert("OK");}
                            })}
                            
            
            
                  </script> 

              </td>
              </table>
                
            </div>
        </header>
        
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Mon Quartier 2021</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a href="#!">Conditions d'utilisations</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
